* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-family: 'Kanit', sans-serif;

  font-size: 16px;
  --cell-width: 80px;
  --cell-gap: 10px;
  --board-bg: #333;
  --tomato-red: #d7402b;
  --napa-vineyards: #83ac58;
  --paper-white: #e0e2dc;
  --player-one-color: var(--tomato-red);
  --player-two-color: var(--napa-vineyards);
  --cell-bg: var(--paper-white);
  --playerName-FS: .7rem;
  --playerName-active-FS: 2rem;
}

.cell {
  width: var(--cell-width);
  aspect-ratio: 1/1;
  border: none;
  background: var(--cell-bg);
  font-size: 3rem;
}

.cell i {
  width: 1em;
  height: 1em;
}

.player-one {
  color: var(--player-one-color);
}

.player-two {
  color: var(--player-two-color);
}

#game-board {
  width: fit-content;
  gap: var(--cell-gap);
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  background: var(--board-bg);
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background: #555;
}

@keyframes pulse {
  0% {
    font-size: 2rem;
  }
  50% {
    font-size: 3rem;
  }
  100% {
    font-size: 2rem;
  }
}

.victory {
  animation: 1s infinite pulse;
}

.playerNameDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerName {
  background: var(--paper-white);
  text-transform: uppercase;
  font-size: var(--playerName-FS);
  width: 100%;
  height: calc(var(--playerName-active-FS) * 1.5);
  display: flex;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.active{
  font-size: var(--playerName-active-FS);
  
}

#p1{
  color: var(--player-one-color);
  border: 2px solid var(--player-one-color);
}

#p2{
  color: var(--player-two-color);
  border: 2px solid var(--player-two-color);
}

#p1.active {
  background: var(--player-one-color);
  color: white;
}

#p2.active {
  background: var(--player-two-color);
  color: white;
}

button:hover{
  cursor: pointer;
}
button:disabled:hover{
  cursor:default;
}
#newGame, #toggleAI{
  border: 1px solid black;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: 600;
}